html,body {background-color:#000;}

.clear {
	clear:both;
}
header h1 {
	font-family: 'Arvo', Georgia, serif;
	font-size:31px;
	line-height:36px;
	font-weight:normal;
	letter-spacing:2px;
	position:relative;
}

.context h1 span, .context h2 span {
	color:#00F2FF;
}

body {
	font-family: Arial, serif;
	background-color:#000;
	color:#fff;
	min-width: 1320px;
}

.blockSurvey * {
	color: #8B8A88;
}
.blockSurvey input, .blockSurvey textarea {
	color: #8B8A88;
	background-color: #1b1b1b;
	border: 1px solid #333;
}

.blockSurvey div.title {
	width:300px;
}
.blockSurvey h1 {
	font-size: 2em;
	margin: 20px auto 10px;
	text-align: center;
	color: #fff;

	font-family: 'Arvo', Georgia, serif;
	font-weight: normal;
	letter-spacing: 2px;
}
.blockSurvey h1 span {
	color: #00F2FF;
}
.blockSurvey h2 {
	font-size: 1.6em;
	margin: 20px auto 10px;
	text-align: center;
	color: #fff;
}

.blockSurvey label {
	display:block;
	font-size: 1em;
	font-weight: normal;
}

.blockSurvey form * {
	width: 250px;
}

.blockSurvey form div {
	margin: 30px;
}

.blockSurvey form div.yourself {
	margin: 0px;
}

.blockSurvey div.yourself h2 {
	text-align: left;
	margin-left: 50px;	
}
.blockSurvey form {
	margin-bottom: 50px;
}
.blockSurvey form input[type=submit] {
	display: block;
	width:200px;
	margin:10px auto;
	color: #fff;
	margin-top: 30px;
}
button[type=submit] {
	margin-top: 30px;
}
.blockSurvey {
	left:0px;
	height:100%;
	position: absolute;
	width: 330px;
	overflow: auto;
	border-right: 2px solid #444;
}
.blockVisualizer {
	float:left;
	left:330px;
	position: absolute;
	height:100%;
	width: calc(100% - 330px);
	overflow: auto;
}

.blockSurvey div.separator {
	margin:0px;
	height:1px;
	width:100%;
	border-top:1px solid #222;
}

.blockSurvey button {
	color:white;
}

.endSurvey p {
	margin-left: 220px;
	margin-top: 100px;
	font-size: 20px;
}

.endTitle h1 {
	font-family: 'Arvo', Georgia, serif;
	font-size: 31px;
	width: 100%;
	text-align: center;
}

.endTitle h1 span {
	color:#00F2FF;
}

.context h2 {
	font-family: 'Arvo', Georgia, serif;
	font-size: 31px;
	margin-left: 60px;
}

.context p, .context ul, .context li {
	font-family: 'Arvo', Georgia, serif;
	font-size: 15px;
	margin-left: 40px;
	margin-right: 40px;
}

.context {
	margin-left: 20px;
	margin-right: 20px;
}

.context header {
	text-align: center;
}

.content a.btn {
	margin-top: 30px;
	margin-left: 30px;
}

.content div.question {
	margin: 30px;
	min-height: 70px;
	clear: both;
}

.content .left div.question {
	float: right;
}

.content .right div.question {
	float: left;
}

.blockSurvey form div.center {
	width: 800px;
	margin: auto;
	margin-top: 20px;
}
.blockSurvey form .btn {
	margin-left: 20px;
}
.content div.left {
	height: auto;
	width: 300px;
	float: left;
	margin: 0 50px;
}
.content div.left div {
	height: 100px;
}
.content div.right {
	height: auto;
	width: 50%;
	float: right;
}

.content .btn {
	clear:both;
	margin-left: 30px;
}

.homeUl {
	list-style-type: none;
}

.homeUl li {
	margin:30px;
}

.dtable {
	color: #2E2E2E;
}

.nextQ {
	margin-top: 30px;
}

.blockSurvey input, .blockSurvey select {
	padding: 5px;
}
