table { border-collapse:collapse; border-spacing:0; text-align: center;}
.datatables_ref:hover { text-decoration: underline; cursor: pointer; *cursor: hand; }
.dataTables_wrapper { position: relative; min-height: 302px; _height: 302px; clear: both; display:inline-block; }
.dataTables_processing { position: absolute; top: 0px; left: 50%; width: 250px; margin-left: -125px; border: 1px solid #ddd; text-align: center; color: #999; font-size: 11px; padding: 2px 0; }
.dataTables_length { width: 40%; float: left; }
.dataTables_filter { width: 50%; float: right; text-align: right; }
.dataTables_info { width: 60%; float: left; padding-top: 10px; }
.dataTables_paginate { width: 44px; * width: 50px; float: right; text-align: right; padding-top: 10px; }
#dtable_paginate { display: table; }
table.display td.css_small { font-size: 0.7em; line-height: 1.45em; }
table.parameters { width: 100%; margin-bottom: 1em; }
table.features td { line-height: 17px; }
td.parameter { width: 306px; }
td.label { width: 180px; padding-left: 20px; }
table.display { margin: 0 auto; width: 100%; clear: both; }
table.display thead th { padding: 3px 10px; border-bottom: 1px solid black; font-weight: bold; cursor: pointer; * cursor: hand; font-size: 0.8em; }
table.display tfoot th { padding: 3px 10px; border-top: 1px solid black; font-weight: bold; }
table.display tr.heading2 td { border-bottom: 1px solid #aaa; }
table.display td { padding: 3px 10px; font-size: 0.8em;}
table.display td.center { text-align: center; }
table.display tr.odd.gradeA { background-color: #ddffdd; }
table.display tr.even.gradeA { background-color: #eeffee; }
table.display tr.odd.gradeA { background-color: #ddffdd; }
table.display tr.even.gradeA { background-color: #eeffee; }
table.display tr.odd.gradeC { background-color: #ddddff; }
table.display tr.even.gradeC { background-color: #eeeeff; }
table.display tr.odd.gradeX { background-color: #ffdddd; }
table.display tr.even.gradeX { background-color: #ffeeee; }
table.display tr.odd.gradeU { background-color: #ddd; }
table.display tr.even.gradeU { background-color: #eee; }
.top .dataTables_info { float: none; }

tr.odd { background-color: #E2E4FF; }
tr.even { background-color: white; }

.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next { height: 19px; width: 19px; margin-left: 3px; float: left; }

